// fonts
@font-face {
  font-family: Gilroy_Bold;
  src: url("../fonts/Gilroy_Bold.otf");
}
@font-face {
  font-family: Gilroy_Semibold;
  src: url("../fonts/Gilroy-Semibold.otf");
}
@font-face {
  font-family: Gilroy_Medium;
  src: url("../fonts/Gilroy_Medium.otf");
}
@font-face {
  font-family: TTNormsProMedium;
  src: url("../fonts/TTNormsProBold.otf");
}
// fonts end


// def code

h1,h2,h3,h4,h5,p{
	margin: 0;
	padding: 0;
}
a:hover{
	text-decoration: none;
}
a{
	-webkit-transition: all .25s ease !important;
	   -moz-transition: all .25s ease !important;
	    -ms-transition: all .25s ease !important;
	     -o-transition: all .25s ease !important;
	        transition: all .25s ease !important;
}
// def code

// components
.green_btn{
	text-align: center;
	a{
		display: inline-block;
		background: #1DF0BB;
		border-radius: 4px;
		line-height: 40px;
		font-family: Gilroy_Semibold;
		font-weight: 600;
		font-size: 14px;
		color: #0B0D10 !important;
		padding-left: 38px;
		padding-right: 38px;
	}
	a:hover{
		opacity: 0.7;
	}
}
.green_btn2{
	text-align: center;
	a{
		display: inline-block;
		background: transparent;
		border: 1px solid #1DF0BB;
		border-radius: 4px;
		line-height: 40px;
		font-family: Gilroy_Semibold;
		font-weight: 600;
		font-size: 14px;
		color: #1DF0BB !important;
		padding-left: 38px;
		padding-right: 38px;
	}
	a:hover{
		background: #1DF0BB;
		color: #000 !important;
	}
}
// components end

// css
.home_p_hero{
	padding-left: 0 !important;
	padding-right: 0 !important;

	.carousel-item{
		background: #0B0D10;
	}
	.item1{
		background: url("../img/hero_slide_1.png") no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.cont1,.cont2,.cont3{
		min-height: 536px;
		position: relative;
	}
	.item2{
		background: radial-gradient(38.2% 61.77% at 46.98% 38.23%, #22262B 0%, #0B0D10 100%);
	}
	.carousel-control-next, .carousel-control-prev{
		width: 70px;
		opacity: 1;
	}
	.carousel-control-next:hover, .carousel-control-prev:hover{
		opacity: 0.7;
	}
	.carousel-indicators{
		right: unset;
		margin: 0;
		padding-bottom: 30px;
		padding-left: 17px;
	}
	.carousel-indicators li{
		width: 8px;
		height: 8px;
		padding: 0;
		margin: 0;
		border: 0;
		border-radius: 50%;
		margin-right: 16px;
		position: relative;
		background: #CED6DE;
	}
	.carousel-indicators .active:after{
		content: '';
		width: 12px;
		height: 12px;
		border: 1px solid #CED6DE;
		border-radius: 100%;
		position: absolute;
		top: -3px;
		left: -3px;
	}

	
	.cont1{
		h1{
			max-width: 402px;
			margin: auto;
			padding-top: 99px;
			
			font-family: Gilroy_Bold;
			font-weight: bold;
			font-size: 96px;
			line-height: 104px;
			text-align: center;
			letter-spacing: -1.35px;
			text-transform: unset;

			color: #FFFFFF;
		}
		p{
			margin-top: 8px; 
			margin-bottom: 84px;

			font-family: Gilroy_Bold;
			font-weight: 900;
			font-size: 14px;
			line-height: 16px;
			text-align: center;
			letter-spacing: 3px;
			text-transform: uppercase;

			color: #F0F4F7;
			opacity: 0.9;
		}
		.onlyphone{
			display: none;
		}
	}
	.cont2{
		h2{
			padding-top: 132px;
			margin-bottom: 21px;

			font-family: Gilroy_Semibold;
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 32px;
			text-transform: unset;
			color: #FFFFFF;
		}
		h1{
			margin-bottom: 32px;
			text-transform: unset;
			font-family: Gilroy_Bold;
			font-style: normal;
			font-weight: bold;
			font-size: 48px;
			line-height: 56px;
			/* identical to box height, or 117% */
			letter-spacing: 0.125px;

			color: #FFFFFF;
		}
		p{
			font-family: Gilroy_Medium;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 28px;

			color: #FFFFFF;

			margin-bottom: 7px;
			.span1{
				font-size: 18px;
			}
			.span2{
				color: #1DF0BB;;
				font-size: 20px;
			}

		}
		.green_btn2{
			text-align: left;
			margin-top: 31px;
		}
		.hero_slide_2{
			position: absolute;
			right: 0;
			top: 47px;
		}
	}
	.cont3{
		h2{
			padding-top: 199px;
			margin-bottom: 21px;

			font-family: Gilroy_Semibold;
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 32px;
			text-transform: unset;
			color: #FFFFFF;
		}
		h1{
			margin-bottom: 32px;
			text-transform: unset;
			font-family: Gilroy_Bold;
			font-style: normal;
			font-weight: bold;
			font-size: 48px;
			line-height: 56px;
			/* identical to box height, or 117% */
			letter-spacing: 0.125px;

			color: #FFFFFF;
		}
		p{
			font-family: Gilroy_Medium;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 28px;

			color: #FFFFFF;

			margin-bottom: 7px;
			.span1{
				font-size: 18px;
			}
			.span2{
				color: #1DF0BB;;
				font-size: 20px;
			}

		}
		.green_btn2{
			text-align: left;
			margin-top: 31px;
		}
		.hero_slide_3{
			position: absolute;
			right: 0;
			top: 52px;
		}
	}
}



.home_p_sec2{
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 58px;
	padding-bottom: 85px;

	h1{
		font-family: Gilroy_Semibold;
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		text-transform: unset;
		color: #0B0D10;
		position: relative;

		margin-bottom: 28px;

		a{
			position: absolute;
			right: 0;

			font-family: Gilroy_Medium;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 28px;
			color: #000000;
			img{
				margin-left: 11px;
				margin-top: -2px;
			}
		}
		a:hover{
			opacity: 0.7;
		}
	}
	.scroll_products{
		// opacity: 0;
	}
	.scroll_products .td{
		vertical-align: bottom;
	}
	.scroll_products{
		
		
		
		.box {
		    width:180px;
		    height:240px;
		    text-align: center;

		    .placeforimg{
		    	height: 180px;
		    	width: 100%;
		    	margin-bottom: 15px;
		    	position: relative;

		    	.imghere{
		    		position: absolute;
		    		left: 0;
		    		right: 0;
		    		bottom: 0;
		    	}

		    	img{
		    		max-width: 100%;
		    		display: block;
		    		margin: auto;
		    	}
		    }
		    p{
		    	font-family: Gilroy_Medium;
		    	font-style: normal;
		    	font-weight: 500;
		    	font-size: 16px;
		    	line-height: 28px;
		    	text-align: center;
		    	color: #000000;
		    	margin: auto;
		    	max-width: 157px;
		    	white-space: break-spaces;
		    }
		    a{
		    	font-family: Gilroy_Medium;
		    	font-style: normal;
		    	font-weight: 500;
		    	font-size: 16px;
		    	line-height: 28px;
		    	text-align: center;
		    	color: #000000;
		    	margin: auto;
		    	max-width: 157px;

		    }

		    -webkit-transition: all .25s ease;
		       -moz-transition: all .25s ease;
		        -ms-transition: all .25s ease;
		         -o-transition: all .25s ease;
		            transition: all .25s ease;
		}
		// .box:hover{
		// 	opacity: 0.7;
		// }



		@supports (display: grid) {


		  .main {
		    color: #959595;
		    grid-area: main;
		    padding: 0;
		    overflow-x: scroll;
		    overflow-y: hidden;
		  }

		  .items {
		    position: relative;
		    width: 100%;
		    overflow-x: scroll;
		    overflow-y: hidden;
		    white-space: nowrap;
		    // transition: all 0.2s;
		    // transform: scale(0.98);
		    // will-change: transform;
		    user-select: none;
		    cursor: pointer;
		  }

		  .items.active {
		    cursor: grabbing;
		    cursor: -webkit-grabbing;
		    // transform: scale(1);
		  }

		  .item {
		    display: inline-block;
		    min-height: 300px;
		    min-width: 180px;
		    margin-right: 16px;
		    vertical-align: top;
		  }
		  @media screen and (max-width: 500px) {
		    .item {
		      min-height: 240px;
		      min-width: 180px;
		    }
		  }
		}
	}

	/* width */
	*::-webkit-scrollbar {
	  width: 0px;
	}

	/* Track */
	*::-webkit-scrollbar-track {
	  background: transparent;
	}

	/* Handle */
	*::-webkit-scrollbar-thumb {
	  background: transparent;
	}

	/* Handle on hover */
	*::-webkit-scrollbar-thumb:hover {
	  background: transparent;
	}

	.custom_scrollbar{
		width: 100%;
		height: 1px;
		background: #A8B2BD;
		display: block;
		margin: auto;
		position: relative;
		padding-left: 138px;
		margin-top: -20px;
		z-index: -1;

		.cc{
			position: relative;
			max-width: calc(100% - 69px);
		}
	}

	.custom_bar{
		width: 138px;
		height: 3px;
		position: absolute;
		left: -138px;
		top: -1px;
		background: #0B0D10;

	}
}





.home_p_sec3{
	min-height: 600px;
	background: #22262B;
	overflow: hidden;
	padding-left: 0 !important;
	padding-right: 0 !important;
	.cmaxwidth{
		max-width: 1450px;
		margin: auto;
		min-height: 600px;
	}
	.placeforimg{
		min-height: 600px;
		background: url("../img/home_p_sec3_img1.png") no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		max-width: calc(100% - 628px);
		display: inline-block;
		width: 100%;
		vertical-align: top;
	}
	.cont{
		display: inline-block;
		vertical-align: top;
		margin-left: 114px;
		max-width: 417px;
		padding-top: 160px;
		width: 100%;
		h3{
			font-family: Gilroy_Semibold;
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 16px;
			letter-spacing: 1.25px;
			text-transform: uppercase;
			color: #1DF0BB;
			margin-bottom: 16px;
		}
		h1{
			font-family: Gilroy_Bold;
			font-style: normal;
			font-weight: bold;
			font-size: 48px;
			line-height: 56px;
			letter-spacing: 0.125px;
			color: #FFFFFF;
			margin-bottom: 16px;
			text-transform: unset;
		}
		p{
			font-family: Gilroy_Medium;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 28px;
			color: #FFFFFF;
			margin: 0;
		}
		.green_btn{
			text-align: left;
			margin-top: 80px;
		}
	}
}

.home_p_sec4{
	padding-top: 80px;
	padding-bottom: 119px;
	background: #F7FAFC;
	h1{
		font-family: Gilroy_Bold;
		font-style: normal;
		font-weight: bold;
		font-size: 38px;
		line-height: 44px;
		text-align: center;
		letter-spacing: -0.1px;
		text-transform: unset;
		color: #0B0D10;
		margin-bottom: 40px;
	}
	.fullbox{
		padding-top: 119px;
	}
	.box{
		max-width: 360px;
		min-height: 360px;
		background: #fff;
		display: block;
		margin: auto;
		box-shadow: 0px 20px 85px rgba(0, 0, 0, 0.08);
		padding: 10px 0;
		.ppimg{
			min-height: 124px;
			position: relative;
			width: 100%;
			img{
				-webkit-transition: all .35s ease;
				   -moz-transition: all .35s ease;
				    -ms-transition: all .35s ease;
				     -o-transition: all .35s ease;
				        transition: all .35s ease;
			}
			.img1{
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				display: block;
				bottom: 0;
				opacity: 1;
			}
			.img2{
				position: absolute;
				left: 0px;
				right: 0px;
				margin: auto;
				display: block;
				bottom: 0;
				margin: 0;
				width: 100%;
				opacity: 0;
			}
		}
		.contt{
			padding-left: 49px;
			padding-right: 49px;
		}
		h2{
			font-family: Gilroy_Bold;
			font-style: normal;
			font-weight: 800;
			font-size: 20px;
			line-height: 40px;
			text-align: center;
			color: #0B0D10;
			margin-bottom: 8px;
			margin-top: 20px;
			text-transform: unset;
		}
		p{
			font-family: Gilroy_Medium;
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			color: #0B0D10;
			min-height: 70px;
			margin-bottom: 10px;

		}
		.mw212{
			max-width: 212px;
			margin-left: auto;
			margin-right: auto;
		}
		.learnmoreb{
			text-align: center;
			a{
				display: inline-block;
				background: #fff;
				border-radius: 4px;
				line-height: 40px;
				font-family: Gilroy_Semibold;
				font-weight: 600;
				font-size: 14px;
				color: #0B0D10 !important;
				padding-left: 38px;
				padding-right: 38px;
				border: 1px solid #A8B2BD;
			}
			a:hover{
				background: #0B0D10;
				border: 1px solid #0B0D10;
				color: #fff !important;
			}
		}
	}
	.box:hover{
		.ppimg{
			.img1{
				opacity: 0;
			}
			.img2{
				opacity: 1;
			}
		}
	}
}


.home_p_sec5{
	background: #F7FAFC;
	padding-bottom: 80px;
	h1{
		font-family: Gilroy_Bold;
		font-style: normal;
		font-weight: bold;
		font-size: 38px;
		line-height: 44px;
		letter-spacing: -0.1px;
		color: #0B0D10;
		text-transform: unset;
		margin-bottom: 8px;
	}
	p{
		font-family: Gilroy_Medium;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
		color: #0B0D10;
		margin-bottom: 40px;
	}
	.owl-carousel{
		.item{
			width: 376px;
			height: 264px;
			background: black;
		}
	}
	.owl-carousel .owl-nav button.owl-prev{
		width: 40px;
		height: 40px;
		position: absolute;
		top: 0;
		left: 20px;

	  top: 50%;
	  transform: translateY(-50%);
	  border-radius: 50%;
	  overflow: hidden;
	}
	.owl-carousel .owl-nav button.owl-next{
			width: 40px;
			height: 40px;
			position: absolute;
			top: 0;
			right: 20px;

		  top: 50%;
		  transform: translateY(-50%);
		  border-radius: 50%;
		  overflow: hidden;
	}
	.owl-dots{
		display: none;
	}
	button:focus{
		outline: none;
	}
	
	.discover{
		text-align: center;
		margin-top: 72px;
		a{
			display: inline-block;
			background: transparent;
			border-radius: 4px;
			line-height: 40px;
			font-family: Gilroy_Semibold;
			font-weight: 600;
			font-size: 14px;
			color: #4E2FD2 !important;
			padding-left: 38px;
			padding-right: 38px;
			border: 1px solid #4E2FD2;
		}
		a:hover{
			background: #4E2FD2;
			color: #fff !important;
		}
	}
}






.promo_s1{
	padding-top: 56px;
	padding-bottom: 76px;
	background: url("../img/promo_bg_1.png") no-repeat center top; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;

	h1{
		font-family: Gilroy_Bold;
		font-style: normal;
		font-weight: bold;
		font-size: 38px;
		line-height: 44px;
		text-align: center;
		letter-spacing: -0.1px;
		color: #FFFFFF;
		text-transform: unset;

		margin: 0;
		padding: 0;
	}
	a{
		position: absolute;
		right: 48px;
		bottom: 12px;

		font-family: Gilroy_Medium;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.2px;
		text-decoration-line: underline;

		color: #CED6DE !important;
		img{
			margin-right: 8px;
		}
	}
	a:hover{
		opacity: 0.7;
		text-decoration: underline;
	}
}


.promo_s2{
	padding-top: 48px;
	padding-bottom: 48px;
	background: #14171B;
	.wrapp_mw{
		max-width: 1122px;
		margin: auto;
	}
	.box{
		padding: 35px;
		padding-bottom: 25px;
		border: 1px solid #fff;
		border-radius: 8px;
		border-top: #BBE3DD 12px solid;
		min-height: 509px;
		p{
			font-family: Gilroy_Semibold;
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			color: #CED6DE;
			margin-bottom: 8px;
		}
		.p2{
			font-family: Gilroy_Medium;
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 16px;
			letter-spacing: 0.2px;
			color: #A8B2BD;
			margin-bottom: 30px;
			a{
				text-decoration: underline;
				color: #A8B2BD !important;
			}
			.bs{
				font-weight: 600;
				color: #fff;
				font-family: Gilroy_Semibold;
			}
		}
		h1{
			font-family: Gilroy_Bold;
			font-style: normal;
			font-weight: bold;
			font-size: 48px;
			line-height: 56px;
			text-align: center;
			letter-spacing: 0.125px;
			color: #F0F4F7;
			text-transform: unset;
			margin: 0;
			padding: 0;

			span{
				display: block;
				font-size: 32px;
				font-family: Gilroy_Semibold;
			}
		}
		img{
			max-width: 100%;
			display: block;
			margin: auto;
		}
	}
	.box2{
		border-top: #FFE6AD 12px solid;
	}
}

.promo_s3{
	padding-top: 48px;
	padding-bottom: 48px;
	background: #14171B;
	.wrapp_mw{
		max-width: 1122px;
		margin: auto;
		h1{
			font-family: Gilroy_Semibold;
			font-style: normal;
			font-weight: bold;
			font-size: 38px;
			line-height: 44px;
			text-align: center;
			letter-spacing: -0.1px;
			color: #FFFFFF;
			text-transform: unset;
		}
		.box{
			padding: 75px 64px;
			padding-bottom: 25px;
			border: 1px solid #fff;
			border-radius: 8px;
			min-height: 303px;

			margin-bottom: 24px;

			position: relative;
			overflow: hidden;

			.card1_img1{
				position: absolute;
				right: 0;
				bottom: 0;
			}
			.headphones1{
				position: absolute;
				right: -60px;
				top: 32px;
			}
			.img_keypad1{
				position: absolute;
				right: -30px;
				top: 23px;
			}
			.Frontcamera1{
				position: absolute;
				right: -5px;
				top: 29px;
			}

			h4{
				position: absolute;
				font-family: Gilroy_Semibold;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 1.25px;
				text-transform: uppercase;
				color: #0B0D10;

				padding: 5px 12px;
				background: #00D0B9;
				left: 65px;
				top: 0;
			}

			h2{
				text-transform: unset;

				font-family: Gilroy_Bold;
				font-style: normal;
				font-weight: bold;
				font-size: 38px;
				line-height: 44px;
				text-align: left;
				letter-spacing: -0.1px;
				color: #00D0B9;
				margin: 0;
			}
			.mt{
				margin-top: -15px;
			}
			p{
				font-family: Gilroy_Semibold;
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				color: #F0F4F7;
				max-width: 258px;
				margin: 0;
				span{
					font-family: Gilroy_Medium;
					font-style: normal;
					font-weight: 500;
					font-size: 12px;
					line-height: 16px;
					letter-spacing: 0.2px;
					color: #A8B2BD;
				}
			}
			.green_btn2{
				text-align: left;
				margin-top: 24px;
			}
		}
	}
}


.product_modal_new{
	background: rgba(11, 13, 16, 0.9);

	.disabledesktop{
		display: none;
	}
	.modal-dialog{
		max-width: 1193px;
		padding: 20px;
		.xicon{
			position: absolute;
			right: 43px;
			top: 43px;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		.xicon:hover{
			opacity: 0.7;
		}
		.modal-body{
			min-height: 300px;
			padding: 94px 30px;
			.mwc{
				max-width: 900px;
				margin: auto;
			}

			.box{
				position: relative;
				padding-top: 25px;
				h4{
					font-family: Gilroy_Semibold;
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 16px;
					letter-spacing: 1.25px;
					text-transform: uppercase;
					color: #0B0D10;

					padding: 5px 12px;
					position: absolute;
					right: 0;
					top: 0;
					background: #00D0B9;
				}
				.placeforimg{
					min-height: 250px;
					position: relative;
					img{
						position: absolute;
						left: 0;
						right: 0;
						max-width: 100%;
						bottom: 0;
						display: block;
						margin: auto;
					}
				}
				h2{
					font-family: Gilroy_Semibold;
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 24px;
					text-align: center;
					color: #0B0D10;
					margin: 0;
					margin-top: 30px;
				}
				p{
					font-family: Gilroy_Semibold;
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 24px;
					text-align: center;
					color: #525963;

					margin-top: 8px;
					min-height: 70px;
					margin-bottom: 8px;
				}
				h3{
					font-family: Gilroy_Semibold;
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 24px;
					text-align: center;
					color: #0B0D10;
					margin-bottom: 9px;
				}
				.learnmoreb{
					text-align: center;
					a{
						display: inline-block;
						background: #fff;
						border-radius: 4px;
						line-height: 40px;
						font-family: Gilroy_Semibold;
						font-weight: 600;
						font-size: 14px;
						color: #0B0D10 !important;
						padding-left: 38px;
						padding-right: 38px;
						border: 1px solid #A8B2BD;
					}
					a:hover{
						background: #0B0D10;
						border: 1px solid #0B0D10;
						color: #fff !important;
					}
				}
			}
		}
	}

	.carousel-indicators{
		right: 0;
		left: 0;
		margin: auto;
		padding-left: 0;
		padding-right: 0;
		bottom: -50px;
	}
	.carousel-indicators li{
		width: 8px;
		height: 8px;
		padding: 0;
		margin: 0;
		border: 0;
		border-radius: 50%;
		margin-right: 16px;
		position: relative;
		background: #0B0D10;
	}
	.carousel-indicators .active:after{
		content: '';
		width: 12px;
		height: 12px;
		border: 1px solid #0B0D10;
		border-radius: 100%;
		position: absolute;
		top: -3px;
		left: -3px;
	}

}


.shop_s1{
	min-height: 122px;
	background: url("../img/hero_slide_1.png") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	padding-top: 26px;
	padding-bottom: 24px;
	h2{
		margin: 0;
		padding: 0;

		font-family: Gilroy_Bold;
		font-weight: 900;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		letter-spacing: 3px;
		text-transform: uppercase;
		color: #F0F4F7;
	}
	h1{
		margin: 0;
		padding: 0;

		font-family: Gilroy_Bold;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		line-height: 56px;
		text-align: center;
		letter-spacing: 0.125px;
		color: #FFFFFF;
		text-transform: unset;
	}
}
.shop_s2{
	padding-top: 66px;
	background: #F0F4F7;
	padding-bottom: 78px;
	.wrapper{
		max-width: 1152px;
		margin: auto;
	}
	h1{
		margin: 0;
		padding: 0;
		
		font-family: Gilroy_Bold;
		font-style: normal;
		font-weight: bold;
		font-size: 38px;
		line-height: 44px;
		text-align: left;
		letter-spacing: -0.1px;
		color: #22262B;
		text-transform: unset;
	}
	.forscrollbar{
		display: none;
	}
	.filters{
		padding: 0;
		margin: 0;
		list-style-type: none;
		margin-top: 24px;

		li{
			display: inline-block;
			cursor: pointer;

			font-family: Gilroy_Semibold;
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			color: #4E2FD2;

			padding: 6px 16px;
			background: #E6EBF0;
			margin-bottom: 16px;
			margin-right: 16px;

			border-radius: 4px;
			vertical-align: top;

			img{
				width: 0;
				display: inline-block;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		.break{
			position: relative;
			width: 1px;
			height: 36px;
			background: #A8B2BD;
			padding: 0;
		}
		li:hover{
			background: #4E2FD2;
			color: #E6EBF0;
		}
		.activeli{
			img{
				width: 12px;
				margin-right: 8px;
				margin-top: -2px;
			}
			background: #4E2FD2;
			color: #E6EBF0;
		}
		.forscrollbar{
			display: none;
		}
	}
	.filterspaddingb{
		padding-bottom: 50px;
	}

	h2{
		margin-top: 50px;
		margin-bottom: 16px;
		font-family: Gilroy_Semibold;
		font-style: normal;
		font-weight: 600;
		font-size: 28px;
		color: #22262B;
		text-transform: unset;
	}
	.disabledh2{
		display: none;
	}
	
	.bigcard:hover{
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 4px 24px rgba(0, 0, 0, 0.1);
	}
	.bigcard{
		position: relative;
		padding: 78px 98px 64px;
		background: #FFFFFF;
		border-radius: 8px;
		overflow: hidden;
		min-height: 428px;

		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;

		.bigimg{
			position: absolute;
			right: 0;
			top: 0;
		}
		.placeforimg{
			height: 240px;
			position: relative;
			display: none;

			img{
				max-width: 100%;
				max-height: 100%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				right: 0;
				margin: auto;
				display: block;
			}
		}
		.newf{
			font-family: Gilroy_Medium;
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 16px;
			text-align: center;
			letter-spacing: 0.2px;
			color: #22262B;

			background: #FFE6AD;
			padding: 4px 16px;
			position: absolute;
			left: 98px;
			top: 0;
		}
		h3{
			margin: 0;
			padding: 0;
			margin-bottom: 16px;

			font-family: Gilroy_Semibold;
			font-style: normal;
			font-weight: 600;
			font-size: 28px;
			line-height: 36px;
			text-align: left;
			color: #0B0D10;
		}
		p{
			margin: 0;
			font-family: Gilroy_Medium;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 28px;
			color: #0B0D10;
			max-width: 363px;
			min-height: 170px;
			margin-bottom: 10px;
		}
		h4{
			font-family: Gilroy_Semibold;
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 32px;
			text-align: left;
			color: #0B0D10;
		}
	}
	a{
		display: inline-block;
		width: 270px;
		margin-right: 24px;
		margin-bottom: 24px;
	}
	.bigcarda{
		display: inline-block;
		width: 100%;
		margin: auto;
		margin-bottom: 24px;
	}
	.bigcarda_sm{
		display: inline-block;
		width: 270px;
		margin-right: 24px;
		margin-bottom: 24px;
		.bigcard{
			padding: 0;
			min-height: 345px;

			.promf{
				right: 0px;
				top: 0;
				z-index: 2;
				left: unset;
			}
			.newf{
				right: 0px;
				top: 0;
				z-index: 2;
				left: unset;
			}

			.placeforimg{
				display: block;
			}
			.bigimg{
				display: none;
			}
			h3{
				margin: auto;
				font-family: Gilroy_Semibold;
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				text-align: center;
				color: #0B0D10;
				margin-bottom: 4px;
				max-width: 200px;
				text-transform: unset;
			}
			h4{
				font-family: Gilroy_Semibold;
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				text-align: center;
				color: #525963;
				span{
					text-decoration: line-through;
				}
			}
			p{
				display: none;
			}
		}
	}

	.disabledcard{
		display: none;
	}
	.preoartactive, .newartactive, .promactive{
		display: inline-block !important;
	}


	.smcard{
		background: #FFFFFF;
		/* Gray-C/300 */
		border: 1px solid #E6EBF0;
		border-radius: 4px;
		min-height: 345px;
		position: relative;
		overflow: hidden;

		.onc{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			right: 0;
			margin: auto;
			display: block;

			font-family: Gilroy_Medium;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 28px;
			color: #000000;
			max-width: 110px;
			img{
				margin-left: 10px;
			}
		}

		.promf{
			font-family: Gilroy_Medium;
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 16px;
			text-align: center;
			letter-spacing: 0.2px;
			color: #22262B;

			background: #D8EDAF;
			padding: 4px 16px;
			position: absolute;
			right: 0px;
			top: 0;
			z-index: 2;
		}
		.newf{
			font-family: Gilroy_Medium;
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 16px;
			text-align: center;
			letter-spacing: 0.2px;
			color: #22262B;

			background: #FFE6AD;
			padding: 4px 16px;
			position: absolute;
			right: 0px;
			top: 0;
			z-index: 2;
		}
		.placeforimg{
			height: 240px;
			position: relative;

			img{
				max-width: 100%;
				max-height: 100%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				right: 0;
				margin: auto;
				display: block;
			}
		}
		h3{
			margin: auto;
			font-family: Gilroy_Semibold;
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			color: #0B0D10;
			margin-bottom: 4px;
			max-width: 200px;
			text-transform: unset;
		}
		h4{
			font-family: Gilroy_Semibold;
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			color: #525963;
			span{
				text-decoration: line-through;
			}
		}
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}
	.smcard:hover{
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 4px 24px rgba(0, 0, 0, 0.1);
	}
	.items{
		display: flex;
		flex-wrap: wrap;
		// justify-content: space-between;

		width: calc(100% + 24px);
		margin-left: -12px;

		h2{
			padding-left: 12px;
			padding-right: 12px;
		}

		a{
			margin-left: 12px;
			margin-right: 12px;
		}
		h2,.bigcarda{
			flex: 1 100%;
			max-width: 100%;
		}
		.bigcarda_sm{
			flex: unset;
			max-width: unset;
		}
	}
}

